<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/canvas.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/index.js"></script>

</head>
<body>
<div class="layui-form" style="background: azure">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <label class="login-title" id="user_name"></label>
                <button onclick="logout()">退出</button>
            </div>
        </div>
        <div class="layui-form-item" style="height: 40px">
            <div class="layui-input-block layui-inline">
                <input type="text" name="filename" id="filename" placeholder="输入文件名" class="layui-input">
            </div>
            <div class="layui-inline">
                <button onclick="upload()" class="layui-btn">上传</button>
            </div>
            <div class="layui-input-block layui-inline">
                <select name="" id="file_select" lay-filter="myselect"></select>
            </div>
            <div class="layui-inline">
                <button onclick="download()" class="layui-btn">下载</button>
            </div>
            <div class="layui-input-block layui-inline">
                <input type="file"onchange="importing(this)" class="layui-input"/>
            </div>
        </div>

</div>
<input  id="imageId" value="" hidden>
<div id="myCans" class="mycans">
    <br><br>
    <form name="form1" style="text-align:center">
            <div class="black" style="text-align:center">
                <span name="shape" id="Line"> Line</span>
                <span name="shape" id="Circle">Circle</span>
                <span name="shape" id="Rectangle">Rectangle</span>
                <span name="shape" id="Pencil">Pencil</span>
                <span name="shape" id="Rubber">Rubber</span>
            </div>
            <br>
            <div style="text-align:center">
                <input type="button" value="open" id="Open">
                <input type="button" value="Save" id="Reserve">
                <input type="color" id="color">
                <select id="linewidth" name="line_width"
                        onchange="line_Width(form1.line_width.options[selectedIndex].value)">
                    <option value="1" selected="selected">1px</option>
                    <option value="3">3px</option>
                    <option value="5">5px</option>
                    <option value="10">10px</option>
                    <option value="15">15px</option>
                    <option value="20">20px</option>
                </select>
                <input type="button" value="clear" id="Clear">
            </div>
    </form>
    <br><br>
    <div style="text-align:center">
        <canvas id="cans" width="1300" height="500"></canvas>
    </div>
</div>
<script src="/js/canvas.js"></script>
</body>
</html>