<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link rel="stylesheet" href="/layui/css/layui.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
<div class="layui-form">
    <input type="text" id="username" placeholder="输入用户名" class="layui-input adminInput">
    <input type="text" id="password" placeholder="输入密码" class="layui-input">
    <button id="login" onclick="login()" class="layui-btn">登录</button>
</div>
</body>
</html>